@font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component_mvc;
    src: url(../../fonts/code_next/CodeNext-Trial-Black.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-light-component_mvc;
    src: url(../../fonts/code_next/CodeNext-Trial-Light.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-hairline-component_mvc;
    src: url(../../fonts/code_next/CodeNext-Trial-HairlineItalic.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component-bold_mvc;
    src: url(../../fonts/code_next/CodeNext-Trial-Bold.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component-extra-bold_mvc;
    src: url(../../fonts/code_next/CodeNext-Trial-ExtraBold.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component-heavy_mvc;
    src: url(../../fonts/code_next/CodeNext-Trial-Heavy.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component-regular_mvc;
    src: url(../../fonts/code_next/CodeNext-Trial-Regular.otf);
  }
//   @font-face {
//     font-family: Cocogoose-Font-Family-UI-prototype-component_mvc;
//     src: url(../../fonts/cocogoose/Cocogoose\ Pro-trial.ttf);
//   }
  @font-face {
    font-family: Coulture-Font-Family-UI-prototype-component_mvc;
    src: url(../../fonts/couture/couture-bld.otf);
  }
  @font-face {
    font-family: Coulture-Font-Family-UI-prototype-component-target-2_mvc;
    src: url(../../fonts/couture/couture-bldit.otf);
  }
  @font-face {
    font-family: Lemon-Milk-Font-Family-UI-prototype-bold-component_mvc;
    src: url(../../fonts/lemon_milk/LEMONMILK-Bold.otf);
  }
  @font-face {
    font-family: Lemon-Milk-Font-Family-UI-prototype-medium-component_mvc;
    src: url(../../fonts/lemon_milk/LEMONMILK-Medium.otf);
  }
  @font-face {
    font-family: Lemon-Milk-Font-Family-UI-prototype-regular-component_mvc;
    src: url(../../fonts/lemon_milk/LEMONMILK-Regular.otf);
  }
  :root {
    --color-component-advanced: #F51767;
    --color-component-const: #121212;
    --color-component-primary: #000;
    --color-component-secondary: #ffff;
    --color-component-advanced-hover: #f8176ab7;
  }
  .life-showcase {
    text-align: center;
    margin-bottom: 20vh;
  }
  .life-showcase_h1 {
    color: var(--color-component-advanced);
    text-transform: uppercase;
    text-align: center;
    font-family: CodeNext-Font-Family-UI-prototype-component-extra-bold_mvc;
    font-size: calc(20px + 3vmin);
    transition: all 0.5s ease-out;
    margin-bottom: 10px;
  }
  .life-showcase-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
  }
  .life-showcase-container h1 {
    color: var(--color-component-advanced);
    font-family: Lemon-Milk-Font-Family-UI-prototype-bold-component_mvc;
    font-size: calc(10px + 4vmin);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .coming_p {
    color: var(--color-component-advanced);
    margin: 3px;
    font-family: CodeNext-Font-Family-UI-prototype-component-regular_mvc;
    font-size: calc(10px + 1vmin);
  }
  .target-word_p {
    color: var(--color-component-advanced);
    text-align: center;
    margin: 50px 0;
    user-select: none;
    font-size: calc(10px + 2.2vmin);
    font-family: 'Poppins', sans-serif;
}
.home-button {
    text-decoration: none;
    transition: all 0.5s ease-out;
    color: var(--color-component-primary);
    background: var(--color-component-advanced);
    padding: 12px 20px;
    border-radius: 15px;
    font-family: Lemon-Milk-Font-Family-UI-prototype-bold-component_mvc;
    font-size: calc(10px + 1.2vmin);
}
.home-button:hover {
    transition: all 0.5s ease-out;
    background: var(--color-component-advanced-hover);
}
@media only screen and (max-width: 700px) {
    .home-button {
        cursor: none;
    }
}