@font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component_mvc;
    src: url(./fonts/code_next/CodeNext-Trial-Black.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-light-component_mvc;
    src: url(./fonts/code_next/CodeNext-Trial-Light.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component-bold_mvc;
    src: url(./fonts/code_next/CodeNext-Trial-Bold.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component-extra-bold_mvc;
    src: url(./fonts/code_next/CodeNext-Trial-ExtraBold.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component-heavy_mvc;
    src: url(./fonts/code_next/CodeNext-Trial-Heavy.otf);
  }
  @font-face {
    font-family: CodeNext-Font-Family-UI-prototype-component-regular_mvc;
    src: url(./fonts/code_next/CodeNext-Trial-Regular.otf);
  }
  @font-face {
    font-family: Cocogoose-Font-Family-UI-prototype-component_mvc;
    src: url(./fonts/cocogoose/Cocogoose\ Pro-trial.ttf);
  }
  @font-face {
    font-family: Coulture-Font-Family-UI-prototype-component_mvc;
    src: url(./fonts/couture/couture-bld.otf);
  }
  @font-face {
    font-family: Coulture-Font-Family-UI-prototype-component-target-2_mvc;
    src: url(./fonts/couture/couture-bldit.otf);
  }
  @font-face {
    font-family: Lemon-Milk-Font-Family-UI-prototype-bold-component_mvc;
    src: url(./fonts/lemon_milk/LEMONMILK-Bold.otf);
  }
  @font-face {
    font-family: Lemon-Milk-Font-Family-UI-prototype-medium-component_mvc;
    src: url(./fonts/lemon_milk/LEMONMILK-Medium.otf);
  }
  @font-face {
    font-family: Lemon-Milk-Font-Family-UI-prototype-regular-component_mvc;
    src: url(./fonts/lemon_milk/LEMONMILK-Regular.otf);
  }